/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "arial";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

html {
  --brand-color: light-dark(white, darkslategrey);
  --secondairy-color: light-dark(skyblue, black);
  --border-color: hsl(0, 0%, 100%);
  --border-zoom: hsl(0 0% 100%);
  /* Bron: https://projects.verou.me/css3patterns/#stairs */
  background:
    linear-gradient(63deg, var(--brand-color) 23%, transparent 23%) 7px 0,
    linear-gradient(63deg, transparent 74%, var(--brand-color) 78%),
    linear-gradient(
      63deg,
      transparent 34%,
      var(--brand-color) 38%,
      var(--brand-color) 58%,
      transparent 62%
    ),
    var(--secondairy-color);
  background-size: 16px 48px;
  color-scheme: light dark;
}

body {
  font-family: "arial", system-ui;

  background-image: light-dark(
    url("/assets/images/Huis-in-licht.jpg"),
    url("/assets/images/Huis-in-donker.jpg")
  );

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

a {
  background: none;
  img {
    height: 16em;
    width: auto;
    /* width: 100%; */
    border: solid 5px var(--border-color);
    transition: ease-in-out 0.2s;
    &:hover {
      background-color: var(--border-zoom);
      transform: scale(1.2);
    }
  }
}
