/**************************
* MARK: Fonts
**************************/

@font-face {
  font-family: "Comic Relief";
  src: url(../fonts/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

/**************************
* MARK: Custom properties
**************************/

html {
  color-scheme: light dark;

  --primary-color: light-dark(cyan, grey);
  --secondary-color: light-dark(blue, black);
  --background-secondary: light-dark(orange, rgb(70, 70, 70));
  --background-primary: light-dark(white, black);
  --Cookies-primairy: light-dark(White, black);
  --Cookies-secondary: light-dark(black, white);
  --border-width: 0.1em;

  --white-space: 2em;

  --step-0: clamp(1rem, 0.9167rem + 0.3704vw, 1.25rem);
  --step-1: clamp(1.2rem, 0.975rem + 1vw, 1.875rem);
  --step-2: clamp(1.44rem, 0.9825rem + 2.0333vw, 2.8125rem);
  --step-3: clamp(1.728rem, 0.8978rem + 3.69vw, 4.2188rem);
  --step-4: clamp(2.0736rem, 0.6554rem + 6.303vw, 6.3281rem);
  --step-5: clamp(2.4883rem, 0.1537rem + 10.3761vw, 9.4922rem);
}

/**************************
* MARK: Algemene Styling
**************************/

*,
*::after,
*::before {
  box-sizing: border-box;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
  height: auto;
}


dialog {
  max-width: 32em;

  background-color: var(--Cookies-primairy);
  color: var(--Cookies-secondary);
}

body {
  font-family:
    Didot, "Bodoni MT", "Noto Serif Display", "URW Palladio L", P052, Sylfaen,
    serif;
  font-weight: normal;
  background: linear-gradient(
    var(--background-primary),
    var(--background-secondary)
  );

  /* display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer"; */

  /* @media (width > 30em) {
    grid-template-areas:
      "header header"
      "main main"
      "footer .";
  } */
}

article {
}

button,
summary {
  cursor: pointer;
}

button,
input,
select,
textarea {
  font: inherit;
}

h1 {
  font-size: var(--step-4);
}
h2 {
  font-size: var(--step-3);
}
h3 {
  font-size: var(--step-2);
}
h4 {
  font-size: var(--step-1);
}

/**************************
* MARK: Header
**************************/

header {
  grid-area: header;
}

/**************************
* MARK: Footer
**************************/

footer {
  grid-area: footer;
  nav {
    position: absolute;
    left: -999999999em;
  }
  ul {
    padding: 0;
    display: flex;
    gap: var(--white-space);
    li {
      list-style: none;
    }
  }
}

/**************************
* MARK: Main
**************************/

main {
  grid-area: main;

  gap: var(--white-space);
  padding: var(--white-space);
}

/**************************
* MARK: Section ...
**************************/
